div.block{
padding: 1em;
background: #f9f9f9;
border: 1px solid #c1c1c1;
margin-top: 2rem;
max-width: 600px;
margin-left: auto;
margin-right: auto;
padding: 1em;
}

a{
  cursor: pointer;
  padding: 5px;
}
a:hover{
  background-color:#69B42E;
  padding: 5px;
  color:white;
}
