<div class="block">
  <p>Eliga su orden de opciones</p>
    <div *ngFor="let option of options; index as i">
        <a *ngIf="!option.selected" id="option.id" (click)="saveVote(option)">
          {{option.id}} -->  ($ {{option.price}})</a>
    </div>
    <p>-----</p>
    <div *ngFor="let vote of votes">
      <div>{{vote}}</div>
    </div>

    <button [disabled]="!showVote" (click)="commitVote()">Votar</button>
    <button [disabled]="!votes || !votes[0]" (click)="resetVote()">limpiar</button>

  <div *ngFor="let vote of generalVote">
    <div>{{vote.votes}}</div>
  </div>

  <p>-----</p>

  <button routerLink="/result" [disabled]="!showVoteEnd" (click)="finishVoting()">Cerrar Votaciones</button>
  <button routerLink="/seting" (click)="resetVoting()">Reestablecer</button>


  <p></p>
</div>
